# Env files (never commit)
.env
.env.*
backend/.env
admin/.env
backend/backend-secrets.env

# Node
node_modules
dist
dist-ssr

# Logs
logs
*.log

# Editor / OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Terraform (VERY IMPORTANT)
terraform/.terraform/
terraform/terraform.tfvars
terraform/terraform.tfvars.json
terraform/tfplan
terraform/*.tfplan
terraform/errored.tfstate
terraform/*.tfstate
terraform/*.tfstate.*