# Env files (never commit)
.env
.env.*
backend/.env
admin/.env

# Node
node_modules
dist
dist-ssr

# Logs
logs
*.log

# Editor / OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Terraform (VERY IMPORTANT)
terraform.tfvars
terraform.tfvars.json
*.tfplan
tfplan
errored.tfstate
*.tfstate
*.tfstate.*
backend/backend-secrets.env