Requirements:


Dependencies:
npm install
npm install axios react-router-dom react-toastify


tailwindcss.com
npm install -D tailwindcss postcss autoprefixer
npx tailwindcss init -p


https://www.color-hex.com/
https://www.color-hex.com/color/ffbbc3


# try push

https://fonts.google.com/specimen/Outfit

https://fonts.google.com/selection/embed
@import 
copy + paste at index.css


# admin folder setup
npm create vite@latest
- project name, framework = react, and variant = JavaScript


npm install 
npm install axios react-router-dom react-toastify
npm install axios
npm install react-toastify
